<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Caile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C5591DC91FA2A32A003054B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5591DE01FA2A32B003054B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5591DEB1FA2A32B003054B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
